<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>메일 상세</h2>
  </div>
  <div>
    <label for="mailId">메일 ID</label>
    <input type="text" id="mailId" name="mailId" class="form-control"
           value="1" th:value="${mail.id}" readonly>
  </div>
  <div>
    <label for="senderAddress">보낸이</label>
    <input type="text" id="senderAddress" name="senderAddress" class="form-control"
           value="10" th:value="${mail.senderAddress}" readonly>
  </div>
  <div>
    <label for="recipientAddress">받는이</label>
    <input type="text" id="recipientAddress" name="recipientAddress" class="form-control"
           value="10" th:value="${mail.recipientAddress}" readonly>
  </div>

  <div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="메일A" th:value="${mail.getSubject}" readonly>
  </div>
  <div>
    <label for="contents">내용</label>
    <input type="text" id="contents" name="contents" class="form-control"
           value="빈 내용" th:value="${mail.contents}" readonly>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='editForm.html'"
              th:onclick="|location.href='@{/basic/mails/{mailId}/edit(mailId=${mail.id})}'|" type="button">메일 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='mails.html'"
              th:onclick="|location.href='@{/basic/mails}'|"
              type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>